/* Color Variables */
:root {
    --color-primary:rgb(232, 120, 232);
    --color-danger:rgb(159, 29, 240);
    --color-success:rgb(176, 176, 241);
    --color-warning:rgb(155, 235, 155);
    --color-white:white;
    --color-info-dark:rgb(65, 63, 63);
    --color-info-light:rgb(178, 175, 175);
    --color-dark:rgb(49, 26, 86);
    --color-light:rgb(152, 187, 240);
    --color-primary-varient:rgb(240, 69, 169);
    --color-dark-varient:rgb(123, 102, 119);
    --color-background:rgb(247, 217, 243);

   --card-border-radius:2rem;
   --border-radius-1:0.4rem;
   --border-radius-2:0.8rem;
   --border-radius-3:1.2rem;

   --card-padding:1.8rem;
   --padding-1:1.2rem;

   --box-shadow:0 2rem 3rem var(--color-dark-varient);
}
/* Color Variables End */

/* Dark Variables */
.dark-theme-variables {
    --color-background: rgb(49, 26, 86);
    --color-white: rgb(3, 3, 3);
    --color-dark: white;
    --color-dark-varient: rgb(178, 175, 175);
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(var(--color-light));
    --color-primary: rgb(176, 176, 241);
}
/* Dark Variables End */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Poppins, sans-serif;
    font-size: 0.9rem;
    background-color: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

html {
    font-size: 14px;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 3rem;
    border-radius: 50%;
    height: 3rem;
}

h1 {
    font-weight: 600;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.9rem;
    font-weight: 400;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.7rem;
}

small {
    font-size: 0.7rem;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-varient);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/* Side Bar Styling */
aside {
    height: 100vh;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center ;
    position: relative;
    height: 3.5rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transform: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    /* width: 100%; */
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: " ";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem -3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .close-btn {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    display: none;
}
/* Sidebar Styling End */

/* Mini Boxes on Main */
main {
    margin-top: 1.4rem;
}

main .date {
    display: inline-block;
    background: var(--color-info-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    pad: 0.5rem 1.5rem;
} 

main .date input[type="date"] {
    background: transparent;
    color: var(--color-dark);
}

/* main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover {
    box-shadow: none;
}

main .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.box-two span {
    background: var(--color-danger);
}

main.insights > div.box-three span {
    background: var(--color-success);
}

main .insights > div.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1rem;
}

main .insights small {
    margin-top: 1.5rem;
    display: block;
}  */
/* Mini Boxes on Main End */

/* Main todo Table */
/* main .recent-todo {
    margin-top: 2rem;
}

main .recent-todo h2 {
    margin-bottom: 0.8rem;
}

main .recent-todo table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-todo table:hover {
    box-shadow: none;
}
main table tbody td {
    height: 2.5rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-varient);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-todo a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

th option {
    color: var(--color-dark-varient);
    font-weight: 600;
} */
/* Main todo Table */

/* Top Starts */
.right-content {
margin-top: 1.4rem;
}

.top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-content .top button {
    display: none;
}

.theme-toggle {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-content .theme-toggle span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-content .theme-toggle span.active {
    background:var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
}

.right-content .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}
/* Top Ends */

/* Schedule Starts */
.right-content .schedule {
    margin-top: 1rem;    
}

.right-content .schedule h2 {
    margin-bottom: 0.8rem;
}

.right-content .schedule .calender {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right-content .schedule .calender:hover {
    box-shadow: none;
}

.right-content .schedule .calender .calen-sched {
    /* display: grid;
    grid-template-columns: 2.6rem ; */
    gap: 1rem;
    margin-bottom: 1rem;
}

.add-schedule {
    /* background: transparent;
    align-items: center;
    margin-bottom: 0.7rem;
    padding: 1.4rem;
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    position: absolute;
    bottom: 10%;
    width: 23rem; */
    text-align: center;
    /* border: 2px dashed; */
}

/* .add-schedule:hover {
    box-shadow: none;
    background: var(--color-white);
} */

/* FORM for task list */
.form-container {
    display: none;
    position: absolute;
    margin-top: 15%;
    margin-left: 10%;
    width: 70%;
    /* height: 40%; */
    background-color: var(--color-success);
    border-radius: var(--border-radius-3);
    padding-top: 1rem;
    text-align:left;
    z-index: 3;
    opacity: 0.9;
    box-shadow: var(--box-shadow); 
    transition: 0.4s ease-in-out;
}

.form-container .close-btn {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left:95%;
}

.form-container:hover {
    box-shadow: none;
}

/* form {
 text-align: center; 
}  */

.form input {
    background: transparent;
    text-align: center;
    position: relative;
    margin: 1rem;
    padding: 1rem;
    color: var(--color-white);
    font-size: 18px;
    width: 70%;
    height: 30%;
}

::placeholder {
    color: var(--color-white);
    font-size: 18px;
}

select {
    background: transparent;
}

/* form input #todo-content {
    
} */

label {
    font-size: 17px;
    margin-left: 1rem;
    color: var(--color-white);
}

#saveForm {
    /* align-items: center; */
    position: relative;
    margin-left: 49%;
    /* margin-top: 0.5rem; */
    font-size: 2rem;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    background: var(--color-light);
    opacity: 0.8;
}
#saveForm:hover {
    box-shadow: none;
    transition: 0.4s ease-in-out;
    font-size: 2.3rem;
}

.form-container-two {
    display: none;
    position: absolute;
    margin-top: 15%;
    margin-left: 10%;
    width: 70%;
    /* height: 40%; */
    background-color: var(--color-success);
    border-radius: var(--border-radius-3);
    padding-top: 1rem;
    text-align:left;
    z-index: 3;
    opacity: 0.9;
    box-shadow: var(--box-shadow); 
    transition: 0.4s ease-in-out;
}

.form-container-two .close-btn {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left:95%;
}

.form-container-two:hover {
    box-shadow: none;
}

.form-container-two input {
    background: transparent;
}

#saveNotes {
    /* align-items: center; */
    position: relative;
    margin-left: 49%;
    /* margin-top: 0.5rem; */
    font-size: 2rem;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    background: var(--color-light);
    opacity: 0.8;
}
#saveNotes:hover {
    box-shadow: none;
    transition: 0.4s ease-in-out;
    font-size: 2.3rem;
}

/* .vessel {
   display: none; 
} */

.holder {
    /* position: absolute; */
    
    /* margin-top: 15%;
    margin-left: 10%; */
    /* width: 70%; */
    /* height: 40%; */
    /* margin-bottom: 1rem; */
    text-align: center;
    padding: 1rem;
    width: auto;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    background: var(--color-white);
}

.outer-holder {
    position: relative;
    z-index: 3;
    display: none;
}

.close-button {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top:2%;
    right: 2%;
    color: var(--color-danger);
}

.outer-schedule-holder {
    position: relative;
    z-index: 3;
    display: none;
}

.schedule-holder {
    text-align: center;
    padding: 1rem;
    width: 100%;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    background: var(--color-white);
}

.close-button-two {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top:2%;
    right: 2%;
    color: var(--color-danger);
}

.outer-notes-holder {
    position: relative;
    z-index: 3;
    display: none;
}

.notes-holder {
    text-align: left;
    padding: 1rem;
    width: 100%;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    background: var(--color-white);
}

.close-button-three {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top:2%;
    right: 2%;
    color: var(--color-danger);
}

.close-btn-four {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top:2%;
    right: 2%;
    color: var(--color-danger);
}

.status-box {
    color: white;
    background: black;
}

/* FORM for task list ends */

/* Schedule End */

/* Media  Queries - Tablets*/
@media screen and (max-width: 1200px) {

    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .sidebar  h3{
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-todo {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }

    main .recent-todo table {
        width: 100%;
    }

    main table thead tr th:nth-child(2), main table thead tr th:nth-child(3) {
        display: none;
    }

    main table tbody tr td:nth-child(2), main table tbody tr td:nth-child(3) {
        display: none;
    }
}
/* Media  Queries - Tablets End*/

/* Media  Queries - Phones*/
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;

    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }
    
    aside .close-btn {
        display: inline-block;
        cursor: pointer;
        position: relative;
        left: 15rem;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-todo {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    

    .right-content {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right-content .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right-content .top .theme-toggle {
        width: 4.4.rem;
        position: absolute;
        left: 60%;
    }

    .right-content .profile .info {
        display: none;
    }

    .right-content .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right-content .top button span {
        font-size: 2rem;
    }

    /* .add-schedule {
        background: transparent;
        margin-top: 0.5rem;
        padding: 1.4rem;
        border-radius: var(--border-radius-3);
        box-shadow: var(--box-shadow);
        transition: all 300ms ease;
        position: relative;
        
        width: 100%;
        text-align: center;
        border: 2px dashed var(--color-white);
    } */
}
/* Media  Queries - Phones End*/